---
layout: default
popup-gallery: true
background-mode: Dark Mode
gallery:
  - column-size: col-6
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-3.jpg
  - column-size: col-6
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-1.jpg
  - column-size: col-12
    aspect-ratio: landscape-wide
    background_image: /images/the-sleep-co-2.jpg
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-4.jpg
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-3.jpg
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-1.jpg
---
<!------------------ Header Banner ------------------>
<header class="grid padded text-center tall-80 md-tall-60">

    {% include header-nav.html %}

    <div class="col-12">
        <h3 class="font-weight-bold editable" data-aos="fade-up" data-aos-duration="1000">
            <span class="featured-text">explore</span> our mattresses
        </h3>
        <h1 class="font-weight-light xs-h1 editable" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">find the softest products here</h1>
    </div>
</header>

<!------------------  Gallery ----------------------->
  <!-- popup gallery -->
<section class="{% if page.background-mode == 'Dark Mode' %} bg-dark {% elsif page.background-mode == 'Featured Mode' %} bg-featured {% endif %}">
  <!-- doesn't need a light mode because default is light and Dark mode is specified -->
  {% if page.popup-gallery == true %}

    <h2 class="text-center padded-t"> This is a popup gallery </h2>
    <div class="gallery grid padded" id="lightgallery">
        
      {% for item in page.gallery %}
      <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
          </div>
      </a>

      {% endfor %}
    </div>

    {% else %}
    <!-- standard gallery -->
    <section class="padded">
    <h2 class="text-center"> This is the standard gallery </h2>
    <div class="gallery grid padded">
        
        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
        </div>

        {% endfor %}
    </div>

  {% endif %}

  </section>

  <!-- popup gallery button  -->
  <section class="bg-dark padded">
    <h2 class="text-center margin-t"> This is a button that triggers a popup gallery </h2>
      <div class="gallery text-center padded" id="lightgallery-2">
        <!-- links that trigger the pop-up gallery -->
        <a class="button" href="/images/the-sleep-co-1.jpg" title="Caption 1">VIEW OUR WORK</a>
        <a href="/images/the-sleep-co-2.jpg" title="Caption 2"></a>
        <a href="/images/the-sleep-co-1.jpg" title="Caption 3"></a>
        <a href="/images/the-sleep-co-3.jpg" title="Caption 4"></a>
        <a href="/images/the-sleep-co-4.jpg" title="Caption 5"></a>
        <a href="/images/the-sleep-co-1.jpg" title="Caption 6"></a>
        <a href="/images/the-sleep-co-2.jpg" title="Caption 7"></a>
        <a href="/images/the-sleep-co-3.jpg" title="Caption 8"></a>
      </div>
  </section>

  <!-- standard gallery -->
  <section class="padded">
    <h2 class="text-center"> This is the standard gallery </h2>
    <div class="gallery grid padded">
        
        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
        </div>

        {% endfor %}
    </div>
</section>
 </section>