---
layout: default
featured:
   -
      icon: fa-brands fa-pagelines
      description: >-
         Delectus quibusdam molestiae animi aliquam, corporis libero, nam
         officiis hic nesciunt explicabo harum. Lorem ipsum dolor sit amet
         consectetur adipisicing elit.
   -
      icon: fa-solid fa-cloud
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
         quibusdam molestiae animi aliquam, corporis libero, nam officiis hic
         nesciunt explicabo harum. Cupiditate unde at in exercitationem.
   -
      icon: fa-solid fa-feather-pointed
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
         quibusdam molestiae animi aliquam, corporis libero, nam officiis hic
         nesciunt explicabo harum.
   -
      icon: fa-regular fa-heart
      description: >-
         Wabasum belectus quibusdam molestiae animi aliquam, corporis libero,
         nam officiis hic nesciunt explicabo harum. Cupiditate unde at in
         exercitationem aperiam labore voluptatem libero maja ankun.
---
<!------------------ Header Banner ------------------>
    <header class="grid padded text-center tall-90 md-tall-60"> <!-- diese Zeile stehen lassen damit unterschiedliche Größen bei den verschiedenen Headern auf allen Seiten erhalten bleibt -->

        {% include header-nav.html %}

        <div class="col-12">
            <h3 class="font-weight-bold editable">
                <span class="featured-text">sleep</span> like a baby
            </h3>
            <h1 class="font-weight-light xs-h1 editable"> the ultimate mattress solution </h1>
        </div>
    </header>

<!---------------- Gallery Section ---------------------->
<section class="grid">
    <div class="padded col-6-middle_sm-12"> 
        <div>
        <h2> built to last a <span class="featured-text">lifetime</span> </h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero voluptatem cum facere fugiat architecto perferendis ut mollitia, ipsam assumenda quidem dignissimos incidunt nobis quae tempore?</p>
        <p> Est esse ipsam quas distinctio, exercitationem aliquid sint incidunt deserunt error qui quia earum. Alias aperiam, possimus dicta consequatur optio vel sequi!</p>
    </div>
    </div>
    <div class="bg-image bg-bed col-6_sm-12 tall-70"> 
        <!-- background image bed -->
    </div>
    <div class="bg-image bg-dog col-6 tall-70 hide-sm"> 
        <!-- background image mops sleeping -->
    </div>
    <div class="padded -col-6-middle_sm-12"> 
        <h2> so <span class="featured-text">soft</span> you'll melt</h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga libero dignissimos in, dolore ipsam quia maxime tenetur, neque laudantium eius maiores distinctio perspiciatis illum. Quis saepe quibusdam possimus accusamus asperiores. </p>
    </div>
</section>

<!---------------- Feature Icon Grid ---------------------->
<section class="padded grid-center bg-dark"> <!-- center if client wants to add more or less so it still looks nice -->
    <div class="padded-sm col-12 text-center"> 
        <h2> <span class="featured-text">features</span> you will love </h2>
    </div>

    {% for item in page.featured %}
    <div class="padded-sm col-3_sm-6_xs-12 sm-text-center"> 
        <i class="{{item.icon}} icon"></i> <!-- copy all the class elements to the top and replace here with liquid tag; oben können dann alle icons durch nur den mittleren part ersetzt werden (icon class bleibt hier unten einfach dabei, weil die styles ja für alles elemente gelten sollen ) -->
        <p> {{item.description}}</p>
    </div>
    {% endfor %}

</section>

 <!---------------- Image Banner  --------------------------->
<section class="padded text-center bg-image bg-pillow tall-70 grid">
    <div class="col-12-middle">
        <h3 class="text-lg font-weight-bold"> 
            <span class="text-sm font-weight-normal"> never underestimate the power of</span> 
            <br /> a good night's <span class="white-text">sleep</span> 
        </h3>
    </div>
</section>

<!---------------- Testimonial   --------------------------->
<section class="padded-lg grid">
    <div class="col-1 text-right"> 
        <span class="quote-icon">“</span>
    </div>
    <div class="col-10 text-center"> 
        <p class="text-md font-weight-light"> I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of the family </p>
        <p class="subtitle"> - A very happy customer </p>
    </div>
    <div class="col-1"> 
         <!-- text-left not needed as it is the default value  -->
        <span class="quote-icon">”</span>
    </div>
</section>