---
layout: default
cards:
   -
      heading: this is a heading
      description: this is the description of the product you will absolutely love
      featured_image: /images/the-sleep-co-1.jpg
   -
      heading: this is a heading
      description: this is the description of the product you will absolutely love
      featured_image: /images/the-sleep-co-3.jpg
   -
      heading: this is a heading
      description: this is the description of the product you will absolutely love
      featured_image: /uploads/img-1102-2.jpeg
---
<!------------------ Header Banner ------------------>
    <header class="padded grid text-center tall-80 md-tall-60">
        
        {% include header-nav.html %}

        <div class="col-12">
            <h3 class="font-weight-bold"> <span class="featured-text"> products</span> you will love</h3>
            <h1 class="font-weight-light"> addictively soft</h1>
        </div>
    </header>

<!---------------- Product Grid ---------------------->
<section class="padded grid bg-dark">
    <div class="padded-sm col-12 text-center"> 
        <h2> <span class="featured-text">features</span> you will love </h2>
    </div>
    <div class="padded-sm col-3"> 
        <h3>little heading</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quibusdam molestiae animi aliquam, corporis libero, nam officiis hic nesciunt explicabo harum. Cupiditate unde at in exercitationem aperiam labore voluptatem libero.</p>
    </div>
    <div class="padded-sm col-3"> 
        <h3>little heading</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quibusdam sapiente hic itaque laudantium harum mollitia, illo quam earum magni necessitatibus, fuga consectetur cum modi numquam quos in, voluptates saepe.</p>
    </div>
    <div class="padded-sm col-3"> 
        <h3>little heading</h3>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda amet a beatae enim, esse sed doloribus voluptatum? Nobis provident similique consectetur repudiandae rem dolore quod accusamus, dolor exercitationem? Nesciunt, quisquam?</p>
    </div>
    <div class="padded-sm col-3"> 
        <h3>little heading</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora modi, molestiae consequuntur distinctio odio ab incidunt obcaecati officia mollitia! Quidem, culpa illo? Quo commodi sed perspiciatis dolore nobis, excepturi animi!</p>
    </div>
</section>

<!------------------------ cards -------------------------->
<section class="grid padded">

    {% for item in page.cards %}
    
    <div class="col-4_sm12 padded-sm">
        <div class="card">
            <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"> </div> <!-- genau so schreiben wie im CSS, am ende kein strichpunkt notwendig, weil nur eine variable dieses Mal vorkommt; dann content nehmen und oben in die front matter kopieren; hier ein liquid tag einfügen; underscore verwenden weil cloudcannon dies erkennt und auf images verweist -> gute user experience -->
            <div class="padded-1"> </div>
                <h3>{{item.heading}}</h3>
                <p>{{item.description}}</p>
        </div>
    </div>

    {% endfor %}

</section>

 <!---------------- Image Banner  --------------------------->
 <section class="padded text-center bg-dark tall-70 grid">
    <div class="col-12-middle">
        <h3 class="text-lg font-weight-bold"> 
            <span class="text-sm font-weight-normal"> spend over 150$ and activate</span> 
            <br /> free <span class="featured-text">express</span> shipping
        </h3>
    </div>
</section>

<!---------------- Gallery Section ---------------------->
<section class="grid">
    <div class="padded col-6-middle"> 
        <div>
        <h2> built to last a <span class="featured-text">lifetime</span> </h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero voluptatem cum facere fugiat architecto perferendis ut mollitia, ipsam assumenda quidem dignissimos incidunt nobis quae tempore?</p>
        <p> Est esse ipsam quas distinctio, exercitationem aliquid sint incidunt deserunt error qui quia earum. Alias aperiam, possimus dicta consequatur optio vel sequi!</p>
    </div>
    </div>
    <div class="bg-image bg-bed col-6 tall-70"> 
        <!-- background image bed -->
    </div>
    <div class="bg-image bg-dog col-6 tall-70"> 
        <!-- background image mops sleeping -->
    </div>
    <div class="padded -col-6-middle"> 
        <h2> so <span class="featured-text">soft</span> you'll melt</h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga libero dignissimos in, dolore ipsam quia maxime tenetur, neque laudantium eius maiores distinctio perspiciatis illum. Quis saepe quibusdam possimus accusamus asperiores. </p>
    </div>
    <div class="padded col-6-middle"> 
        <div>
        <h2> built to last a <span class="featured-text">lifetime</span> </h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero voluptatem cum facere fugiat architecto perferendis ut mollitia, ipsam assumenda quidem dignissimos incidunt nobis quae tempore?</p>
        <p> Est esse ipsam quas distinctio, exercitationem aliquid sint incidunt deserunt error qui quia earum. Alias aperiam, possimus dicta consequatur optio vel sequi!</p>
    </div>
    </div>
    <div class="bg-image bg-bed col-6 tall-70"> 
        <!-- background image bed -->
    </div>
</section>