/* 
colors:
yellow: #FFBE00
navy: #192B37 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 0;
}


/* --------------- universal styles and utility classes -------------- */
body {
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}


.bg-dark { 
    background-color: #192B37;
    color: white;
}

/* tinas utility classes */
/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/* typography styles */
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }


h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.4; 
  margin-bottom: 1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}

/* background and image styles */
.bg-dark { 
    background-color: #5c8da3); 
    color: white;
  }
  
  .bg-featured { background-color: lightblue; }
  .bg-light { background-color: rgb(245,245,245); }
  
  .bg-image {
    background-color: grey; /* Set a fall-back color while images are loading */ 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  /* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */
  
  .landscape      { padding-bottom: 66%;  }
  .portrait-tall  { padding-bottom: 175%; }
  .portrait       { padding-bottom: 125%; }
  .square         { padding-bottom: 100%; }
  .landscape-wide { padding-bottom: 56%; }
  
  /* Background Position */
  .bg-pos-t { background-position: top; }
  .bg-pos-b { background-position: bottom; }
  .bg-pos-l { background-position: left; }
  .bg-pos-r { background-position: right; }


/* --------------- header & footer styles ------------ */
header {
    background-image: url('/images/the-sleep-co-4.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem; 
    line-height: 1;
}

footer a {
    border: none;
}

/* ------------ navigation styles ------------- */
.header-nav {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.right {
    text-align: right;
}

nav a {
    margin-left: 2rem;
    text-transform: uppercase;
}

.noborder {
    border: none;
}

/* --------------- typography styles ---------- */

/* text alignment */
.text-left   {text-align: left;    }
.text-center {text-align: center;  }
.text-right  {text-align: right;   }

/* section sizes */
.tall-50     {min-height: 50vh; }
.tall-60     {min-height: 60vh; }
.tall-70     {min-height: 70vh; }
.tall-80     {min-height: 80vh; }
.tall-90     {min-height: 90vh; }
.tall-100    {min-height: 100vh;}

/* text styles */
.featured-text {color: #FFBE00;}
.white-text {color: white;}

.subtitle {
    font-size: 1.2rem;
    color: rgb(120,120,125)
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    /* für genauere Positionierung */
    color: rgb(120,120,125);
    line-height: 1;
}

.text-sm {font-size: 1.5rem;}
.text-md {
    font-size: 2rem;
    line-height: 1.1;
}
.text-lg {font-size: 4.5rem;}

.font-weight-normal {font-weight: 400;}
.font-weight-light {font-weight: 200;}
.font-weight-bold {font-weight: 800;}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1; 
    /* for responsive designs - check first with element inspector how headings look in more than one line, then adjust padding or margin */
    margin-bottom: 1rem;
}

h3 {
    line-height: 1.1;
}

p {
    font-weight: 200; 
    /* nicht classes verwendet, weil ALLE paragraphs so sein sollen */
    line-height: 1.5;
    margin-bottom: 1rem;
    /* damit paragraphen sichtbar abgegrenzt sind */
}

p:last-child {
    margin-bottom: 0;
    /* damit letzter paragraph keinen zusätzlichen abstand am ende hat */
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #FFBE00;
}

/* ------ mobile menu -----------------*/ 
.hamburger-button {
    position: relative;
    z-index: 2; /* 2 weil menü noch vor dem button aufpoppen soll, dieses bekommt 1 z index */
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: 0.4rem;
}

.hamburger-button.active {
    color: #FFBE00;
}

.mob-menu {
    position: fixed;
    text-align: center;
    top: 14vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.mob-menu a {
    display: block;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin-left: 0;
}

/* ------ background images ---------- */
.bg-bed {background-image: url('/images/the-sleep-co-3.jpg'); }
.bg-dog {
    background-image: url('/images/the-sleep-co-1.jpg'); 
    background-position: 50% 35%;
}
.bg-pillow {
    background-image: url('/images/the-sleep-co-2.jpg');
    background-position: 50% 57%;
}
.bg-sheets {background-image: url('/images/the-sleep-co-4.jpg')}

/* -------- icon grid ---------- */
.icon {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

/* ------buttons and forms ------- */
input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent; /* to avoid jumping when hovering */
    outline: none; /* removes blue line that browser sets by default around the box */
}

input:focus,
textarea:focus {
    border: 2px solid #FFBE00;
}

.button {
    padding: 0.5rem 2rem;
    background-color: #FFBE00;
    appearance: none; 
    /* set appearance to none (targets 3d style of the button, makes appearance more consistent across browsers */
    border: 2px solid #FFBE00;
    color: inherit;
}

/* -----  Gallery --------- */ 
.gallery [class*="col-"] {
  padding: 1% 1%; 
}
  

/* ONLY INDEX SITE MADE RESPONSIVE SO FAR !!!!!!!!!!!!!!! */


/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md,
.mob-menu {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }

  md-tall-60 {min-height: 60vh;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 
/* most commonly used */

@media (max-width: 48em) {
   
  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left   { text-align: left; }
  .sm-text-right  { text-align: right; }

  .sm-padded     { padding: 5%; }
  .sm-padded-1   { padding: 1rem; }
  .sm-padded-05  { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-b-2 { margin-bottom: 2rem; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }

  .logo { font-size: 5vh;}
  header h3 {font-size: 11vw;}

  

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
    
   html {font-size: 14px;} /*to make default rem from 16 to 14 px on small devices */
   p {font-size: 1.1rem}

  .show-xs { display: block; }
  .hide-xs { display: none;  }

  .xs-h1 {
    font-size: 1.4rem;
    line-height: 1.1;}
}

Optional media query below 400px in case you want to make something different from XS size: 

/* ------- Optional XXS Media Query (25em / 400px) NOT part of default Gridlex styling--------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 

@media (max-width: 25em) {

}