<!---------------- Testimonial   --------------------------->
<section class="padded-lg grid">
    <div class="col-1 text-right"> 
        <span class="quote-icon">“</span>
    </div>
    <div class="col-10 text-center"> 
        <p class="text-md font-weight-light"> I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of the family </p>
        <p class="subtitle"> - A very happy customer </p>
    </div>
    <div class="col-1"> 
         <!-- text-left not needed as it is the default value  -->
        <span class="quote-icon">”</span>
    </div>
</section>